header {
  width: 100%;
  align-content: center;
  background-color: lightskyblue;
  border-bottom: 10px solid black;
}

.icon {
  max-height: 50px;
}

#weatherIcon {
  max-height: 200px;
  max-width: 300px;
}

body {
  background-image: url("images/weatherIcons.jpg");
  background-repeat: repeat;
  background-position: top center !important;
  background-size: 300px;
  background-attachment: fixed;
}

.navbar {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.card {
  background-color: white;
}
