img {
  max-height: 50px;
}
h2 {
  text-align: center;
}
header {
  width: 100%;
  text-align: center;
  background-color: lightskyblue;
  border-bottom: 10px solid black;
}

.container {
  background-color: white;
}

body {
  background-color: blue;
}
