/*style of the header with icons and words centered*/
header {
  width: 100%;
  align-content: center;
  background-color: lightskyblue;
  border-bottom: 10px solid black;
}

.icon {
  max-height: 50px;
}

/*style of todays weather icon*/
#weatherIcon {
  max-height: 200px;
  max-width: 300px;
}

/*Style of the background*/
body {
  background-image: url("images/weatherIcons.jpg");
  background-repeat: repeat;
  background-position: top center !important;
  background-size: 300px;
  background-attachment: fixed;
}

.navbar {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.card {
  background-color: lightskyblue;
  border: 5px dashed black;
  align-items: center;
}

.card-deck {
  background-color: white;
  border: 5px dashed black;
  margin: 0 auto;
}
